

.md-form.md-outline.form-lg .form-control.form-control-lg{
    width: 50vw;
    margin-left: 1.5rem;
}

.flex-center {
 margin-left: 15rem;
}
.custom-select{
    width: 50vw;
    height: 3em;
    margin-left: 1.5rem;
}

.md-form.md-outline.form-lg label {
    font-size: 1.25rem;
    transform: translateY(10px);
    margin-left: 1.5rem;
}


.cadprod-titulo{
   font-size: 2.7rem;
   display: flex;
   /* justify-content: center;
   align-items: center; */
   font-weight:bold;
   margin-left: 1.5rem;
   margin-top: 2rem;
}
/* Botão cadastro produto */

.main-produto .interest {
    border-radius: 4px;
    font-weight: bolder;
}
button {
    border: none;
    cursor: pointer;
}

.save-product .interest {
 height: 50px;
 max-width: 350px;
 font-size: 1.3em;
 border-radius: 4px;
 padding: 0px 20px;
 width: 60%;
 height: 50px;
 background-color: #FFD34D;
 margin-left: 1.5rem;
 margin-top: 1.5rem;
}


/* Data */

.button, input, optgroup, select, textarea {
    margin-left: 1.5rem;
    font-size: inherit;
    line-height: inherit;
}

/* Imput DATA - Inicio */

input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
    -webkit-appearance: listbox;
    width: 32.5vw;
    height: 2.9em;
    border: 1px solid #dadce0;
    border-radius: 4px;
}

input, label {
    margin: .4rem 0;
    display: block;
    margin-left: 1.5em;
}

.label data{
    display: block;
    margin-left: 1.5em;
}

/* Input Data FInal */