/* #region - rodape.css */

.footer-home {
    background-color: #F2C335;
    padding: 0 4em;
}

.footer-logo-tw {
    height: 3em;
}

.footer-icons {
    margin-top: 0.5em;
    margin-right: 1em;
}

.footer-logo-rede-sociais {
    height: 3.5vh;
    width: 2.5vw;
}

@media screen and (max-width: 768px) {
    .footer-home {
        padding: 0 2em;
    }
    
    .footer-logo-tw {
        height: 2.5em;
        margin-bottom: .4em;
    }

    .footer-icons {
        margin-top: -.6em;
    }
    
    .footer-logo-rede-sociais {
        width: 3.5vw;
        margin: 0 .2em;
    }
}

@media screen and (max-width: 375px) {
    .footer-home {
        height: 3em;
        padding: 0 .5em;
    }
    
    .footer-logo-tw {
        height: 2em;
        margin-top: .2em;
    }

    .footer-icons {
        margin-top: -.1em;
    }
    
    .footer-logo-rede-sociais {
        width: 5vw;
    }
}

/* #endregion - rodape.css */