/* #region - cabecalho.css */

.header {
    padding: 0 3.75em;
}

.header-logo-tw {
    height: 100%;
    margin-left: 0.625em;
}

.header-img-logo {
    width: 10vw;
}

.header-a-nav {
    margin: 0 1em;
}

.header-register-btn {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 1.1em;
}

#register-btn {
    background-color: #94EADB;
    padding: 0.5em 1.57em;
    border-radius: 1.25em;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0 2.5em;
    }
    
    .header-logo-tw {
        margin-left: 0;
    }

    .header-img-logo {
        width: 20vw;
    }

    .header-a-nav {
        margin: 0 .7em;
    }

    .header-register-btn {
        font-size: 1em;
    }

    #register-btn {
        padding: 0.5em 1.5em;
    }
}

@media screen and (max-width: 375px) {
    .header {
        padding: 0 .2em;
        flex-direction: column;
    }

    .header-img-logo {
        width: 25vw;
    }

    .header-a-nav {
        margin: 0 .3em;
    }

    .header-register-btn {
        font-size: .8em;
        align-content: center;
    }

    #register-btn {
        padding: 0.5em 1.3em;
    }
}

/* #endregion - cabecalho.css */