/* #region login.css */

.login-main {
    height: calc(100vh - 158px) !important;
    
}

.login-card-box {
    width: 25vw;
    height: 69vh !important;
    background: #fff;
    box-shadow: 0em 0em 1.5em rgb(119, 118, 118);
    border-radius: 1em;
    margin: 6.78em 0;
}

.login-title-box {
    font-size: 2.6em;
}

.login-desc-box {
    font-size: 1.5em;
}

.login-img-logo {
    width: 3.5em;
}

.login-form-box {
    width: 25vw;
}

.login-input-form {
    border-radius: 0.5em;
    border: 0.05em solid rgba(0, 0, 0, 0.336);
    padding: 0.5em 0.5em;
    margin-top: 0.5em;
    width: 12vw;
    font-size: 1em;
}

.login-remind-box {
    width: 25vw;
    margin-top: 1em;
    font-size: 1em;
}

.login-remind {
    font-size: 0.7em;
}

#input-remind {
    display: none;
}

#input-remind:checked + .login-cbx {
    border-color: #0b76ef;
}

#input-remind:checked + .login-cbx .login-flip {
    transform: rotateY(180deg);
}

.login-cbx {
    -webkit-perspective: 20;
    perspective: 20;
    margin-right: 1em;
    border: 2px solid #e8e8eb;
    background-color: rgb(66, 73, 73);
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-cbx:hover {
    border-color: #0b76ef;
}

.login-flip {
    display: block;
    transition: all 0.4s ease;
    transform-style: preserve-3d;
    position: relative;
    width: 20px;
    height: 20px;
}

.login-front, .login-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.login-front {
    background: #fff;
    z-index: 1;
}

.login-back {
    transform: rotateY(180deg);
    background: #0b76ef;
    text-align: center;
    color: #fff;
    line-height: 20px;
    box-shadow: 0 0 0 1px #0b76ef;
}

.login-svg-cbx {
    margin-top: 3px;
    fill: none;
}

.login-path-cbx {
    stroke: #fff;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.login-lbl-remember {
    font-size: 1.4em;
}

.login-forgotit-password {
    text-decoration: none;
    font-weight: bold;
    color: #666;
    font-size: 0.7em;
    margin-top: 1.2em;
    font-size: 0.9em;
}

.login-error-p {
    position: relative;
    top: 1em;
}

.login-color-btn {
    background-color: var(--roxo);
}

.login-btn-card {
    font-size: 1em;
    border-radius: 1em;
    color: white;
    margin-top: 0.5em;
    padding: 0.5em 4.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
}

/* .login-footer-box {
    height: 5em;
} */

.login-hr {
    flex-direction: row;
    /* margin-top: .5em; */
}

.login-p-box {
    color: #A3A0A0;
    text-transform: uppercase;
    font-weight: bold;
}

.login-other {
    margin-top: .5em;
}

.login-link-register {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #A3A0A0;
}

@media screen and (max-width: 768px) {
    .login-card-box {
        width: 60vw;
        height: 60vh;
    }

    .login-div-box {
        height: 100%;
    }

    .login-input-form {
        width: 30vw;
    }

    .login-btn-card {
        padding: 0.5em 3.5em;
    }
}

@media screen and (max-width: 375px) {
    .login-main {
        height: calc(100vh - 129px)   ;
        
    }

    .login-card-box {
        width: 80vw;
    }

    .login-title-box {
        font-size: 2.6em;
    }

    .login-desc-box {
        font-size: 1.1em;
    }

    .login-img-logo {
        width: 3.5em;
    }
    
    .login-form-box {
        width: 100%;
    }
    
    .login-input-form {
        padding: .3em .4em;
        margin-top: .5em;
        width: 50vw;
        font-size: .8em;
    }
    
    .login-remind-box {
        width: 80vw;
        margin-top: 1em;
    }
    
    .login-lbl-remember {
        font-size: 1.2em;
    }
    
    .login-forgotit-password {
        font-size: .8em;
    }
    
    .login-btn-card {
        margin-top: 1.5em;
        padding: 0.5em 3.5em;
        margin-bottom: .5em;
    }
    
    .login-footer-box {
        height: 13vh;
    }
    
    .login-other {
        margin-top: .5em;
        font-size: .9em;
    }
}

/* #endregion */