:root {
    --amarelo: #FFD34D;
    --verde: #94EADB;
    --roxo2: #D76AD9;
    --cinza: #A3A0A0;
    --rosa: #D76AD9;
    --vermelho: #FF7289;
    --roxo: #805cff;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;
}

.btn-medium {
    color: white;
    font-weight: bold;
    font-size: 15pt;
    width: 160px;
    height: 45px;
    border-radius: 200px;
}

.btn-small {
    color: white;
    font-weight: bold;
    font-size: 10pt;
    width: 130px;
    height: 30px;
    border-radius: 200px;
}

.yellow {
    background-color: var(--yellow);
}

.yellow-ball {
    width: 10px;
    height: 10px;
    background: var(--yellow);
}

.purple {
    background-color: var(--purple);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-column-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.background-center {
    background-position: center;
    background-size: cover;
}

.info-box {
    background-color: var(--yellow);
    border-radius: 8px;
    padding: 7px;
    text-transform: capitalize;
    font-weight: bold;
}

.hamburger-menu .line {
    height: 4px;
    width: 30px;
    margin: 5px;
    background-color: black;
}

.hamburger-menu .line-0 {
    width: 20px;
}

.hamburger-menu .line-1 {
    width: 25px;
}

.dark-modal {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    background-color: rgba(0, 0, 0, 0.356);
    z-index: 1000;
}

.modal-filter {
    position: fixed;
    background-color: white;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    display: none;
    justify-content: flex-start;
}

.modal-filter .filters {
    overflow: auto;
    justify-content: flex-start;
}

.modal-filter .top {
    margin-top: 10px;
    width: 90%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

.modal-filter .top h2 {
    font-size: 1.5rem;
}

.modal-filter .filters {
    width: 100%;
}

.modal-filter .price-filter {
    width: 90%;
    margin-top: 20px;
}

.modal-filter .price-ranges {
    margin-top: 10px;
}

.modal-filter .slide input {
    margin: 10px;
    width: 80%;
}

.modal-filter .price-ranges {
    color: white;
    width: 95%;
}

.modal-filter .price-ranges #left {
    background-color: var(--red);
}

.modal-filter .price-ranges #right {
    background-color: var(--purple);
}

.modal-filter .price-filter .price-box {
    position: inherit;
    width: 120px;
    height: 40px;
}

.brand-filter {
    margin-top: 35px;
    width: 90%;
}

.brand-filter .brands {
    flex-wrap: wrap;
    margin-top: 10px;
}

.filters button {
    flex-basis: 70px;
    margin: 5px 15px;
    font-size: 0.9rem;
    width: 100px;
    height: 40px;
}

.filters img {
    width: 50%;
    transform: rotate(-23deg);
}

.state-filter {
    width: 90%;
    margin-top: 30px;
}

.state-filter .estados {
    margin-top: 10px;
}

.save-btn {
    margin-top: 30px;
}

.filters .save-filters {
    color: white;
    font-weight: bolder;
    background-color: var(--red);
    height: 45px;
    border-radius: 8px;
    width: 120px;
}

.show {
    display: flex;
}

#megaphone {
    transform: rotate(-25deg);
}

.container {
    width: 100%;
    height: 100%;
}

.wrap {
    max-width: 330px;
}

.product-box {
    margin-top: 30px;
    height: 370px;
    width: 95%;
    border-radius: 20px 20px 0px 0px;
    text-align-last: center;
    background-color: white;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.452);
}

.product-box .top {
    /* background-image: url('../imgs/celofone.png'); */
    border-radius: 20px 20px 0px 0px;
    margin: -2px;
    height: 65%;
    position: relative;
}

.product-box .top img {
    width: 65%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    margin-top: 5px;
}

.product-box .top .stars {
    width: 80px;
    height: auto;
    right: 3px;
    top: 0px;
    position: absolute;
}

.price-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-radius: 5px;
    height: 15%;
    font-weight: 600;
    position: absolute;
    background-color: var(--yellow);
    right: 10px;
    bottom: 10px;
}

.product-box .bottom {
    align-items: flex-start;
    padding: 10px 20px 0px 20px
}

.product-box .bottom p {
    font-size: 0.7rem;
    text-align: center;
}

.product-box .bottom {
    height: 35%;
    background-color: white;
}

.product-box .bottom i {
    font-size: 35px;
    display: block;
    color: #EC2114;
}

.product-box .bottom i:hover {
    /* font-size: 37px; */
    color: #B41107;

}

.product-box .like {
    height: 80%;
}

.show-btn {
    margin: 0 10px;
    font-size: 1.3rem;
    font-weight: bolder;
    height: 45px;
    width: 120px;
    background-color: transparent;
    border: 1px solid rgba(160, 160, 160, 0.363);
    border-radius: 8px;
}

.show-btn:hover {
    background-color: var(--purple);
    border: none;
    color: white;
}

aside {
    display: flex;
    width: 48px;
    height: 100vh;
    background-color: #FFD34D;
}

aside .logo img {
    width: 100%;
    margin-top: 10px;
}

aside .logo i {
    display: none;
}

aside .icons {
    font-size: 23pt;
    margin-top: 10px;
}

aside .icon-box {
    cursor: pointer;
    width: 100%;
    height: 48px;
    margin: 5px 0;
}

aside .icon-box:hover {
    color: rgb(73, 73, 73);
}

aside .bottom {
    font-size: 23pt;
}

aside .thought-logo {
    display: none;
    width: 110px;
}

.web-app {
    display: flex;
}

@media (max-width: 376px) {
    aside {
        position: fixed;
        left: -110px;
        width: 110px;
        transition: left 0.3s;
        z-index: 1001;
    }
    aside .logo img {
        display: none;
    }
    aside .logo i {
        display: block;
        margin-top: 10px;
        font-size: 28pt;
    }
    aside .icons {
        font-size: 28pt;
        margin-top: 26px;
    }
    /* aside .bottom {
        margin: 10px 0; 
    }

    #aside-mobile {
        justify-content: flex-start;
    } */
    .aside-show {
        display: flex;
        left: 0;
    }
    aside .thought-logo {
        display: block;
        width: 115px;
        margin: 10px 0;
    }
}

.fix-star {
    transform: rotate(-25deg);
}

aside {
    position: fixed;
    left: -110px;
    width: 110px;
    transition: left 0.3s;
    z-index: 1001;
}

aside .logo img {
    display: none;
}

aside .logo i {
    display: block;
    margin-top: 10px;
    font-size: 28pt;
}

aside .icons {
    font-size: 28pt;
    margin-top: 26px;
}

/* aside .bottom {
    margin: 10px 0; 
}

#aside-mobile {
    justify-content: flex-start;
} */

.aside-show {
    display: flex;
    left: 0;
}

aside .thought-logo {
    display: block;
    width: 115px;
    margin: 10px 0;
}

.btn {
    background: none;
    border: none;
    font-weight: 400;
}

.purple {
    background-color: var(--purple);
}

.flex-center-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-column-between {
    display: flex;
    justify-content: space-between;
}

.header {
    height: 72px;
}

header .logo {
    height: 100%;
    margin-left: 10px;
    margin-top: 5px;
}

header .logo img {
    width: 13.5em;
}

.page-main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.box-log, .box-cad {
    width: 50%;
    height: 67vh;
    background: #fff;
    box-shadow: 0em 0em 1.5em rgb(119, 118, 118);
    width: 30vw;
    border-radius: 15px;
}

.box-log, .box-cad img {
    width: 3.5em;
}

.d-box {
    height: 63vh;
}

.d-box h2 {
    font-size: 3.5em;
}

#remind_input {
    display: flex;
    justify-content: flex-start;
}

.remind-box {
    width: 100%;
    margin-top: 10px;
    font-size: 1em;
}

.remind-box a {
    margin-top: 5px;
}

.form-box input {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    padding: 5px 5px;
    margin-top: 5px;
}

.remind {
    font-size: 0.7em;
}

.d-box a {
    text-decoration: none;
    font-weight: bold;
    color: #666;
    font-size: 0.7em;
}

.payment-input {
    padding: 0.4em;
    margin: 0.5em;
    /* width: 20em; */
    border: solid 1px black;
}

#remind_input {
    width: auto;
}

input::placeholder {
    color: #CBCBCB;
}

nav a {
    margin: 0 1em;
}

nav #btn-cadastro-cabecalho {
    background-color: var(--verde);
    padding: 8px 25px;
    border-radius: 20px;
}

.btn-entrar-eol {
    margin-top: 1.50em;
    padding: 0.25em 3em;
    font-size: 2em;
    border-radius: 200px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: var(--roxo);
    height: 64px;
}

.btn-log, .btn-cad {
    font-size: 1em;
    border-radius: 200px;
    color: white;
    margin-top: 2em;
    width: 8em;
    height: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.lnk-entrar {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #A3A0A0;
}

.hr-log {
    flex-direction: row;
}

.rambo {
    height: 80px;
}

.hr-log p {
    color: #A3A0A0;
    text-transform: uppercase;
    font-weight: bold;
}
.roxo {
    background-color: var(--roxo);
}
.div-hr {
    display: flex;
    flex-direction: column;
}
.home-eol img {
    width: 26em;
}
.home-eol{
    display: flex;
}
.home-eol .entrar {
    width: 32vw;
    text-align: left;
    line-height: 150%;
}
.home-eol .entrar h1 {
    line-height: 170%;
    font-weight: 600;
    margin-bottom: 0;
}
.h1-menu-eol{
    line-height: 170%;
    font-weight: 600;
    font-size: 1.5rem;
}
.p-menu-eol{
    margin-bottom: 0;
}
footer {
    height: 4em;
    background-color: #F2C335;
}
footer img {
    height: 3em;
}
footer .footer-links a {
    padding: 0em 1.25em;
    text-decoration: none;
    text-transform: uppercase;
    color: #707070;
    font-size: 0.8em;
}
footer .footer-icons {
    color: black;
    font-size: 1.70em;
    padding-right: 15px;
}
/* inicio da tela de como funciona*/

.comoFuncionaTituloH1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.comoFuncionaTituloH2 {
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

* {
    box-sizing: border-box
}

.slideshow-container {
    max-width: 1150px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    padding-top: 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: gray;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* final da tela de como funciona */

/* inicio do código para desktop - produtos */

/* inicio de teste */

.nav-produto {
    background-color: #F2C335;
    height: 100vh;
    width: 5vw;
}

.header-produto {
    height: 0vh;
    width: 94vw;
}

.main-produto {
    /* height: 60vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.side-left {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.side-right {
    display: flex;
    flex-direction: column;
}

.main-produto h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.img-produto {
    width: 40vw;
    height: 30vh;
    display: flex;
    justify-content: center;
}

.img-produto {
    margin-bottom: 6.5em;
}

.img-principal img {
    height: 30vh;
}

.img-small {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1em;
}

.img-small img {
    height: 9vh;
}

.ponto-img {
    display: flex;
    margin: 4em;
}

.ponto {
    width: 0.3em;
    height: 0.3em;
    background-color: black;
    margin: 1em;
}

.descricao-produto {
    width: 40vw;
    height: 28vh;
    padding: 0.5em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: justify;
}

.bar-side {
    height: 70vh;
    width: 0.1vw;
    background-color: #cccccc;
    display: flex;
    align-items: flex-end;
    margin-top: 7.2em;
    box-shadow: 1px 1px 8px #525050;
}

.condicao, .marca, .formas-pgto, .interesse {
    margin: 0.8em 0;
}

.side-right .interesse i {
    margin-right: 10px;
}

.side-right .interesse {
    background: transparent;
}

.botao-preco {
    height: 8vh;
    width: 13.5vw;
    background-color: #FA738A;
    font-size: 2em;
    color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}

.a-vista {
    display: flex;
    justify-content: flex-end;
    width: 15vw;
}

.vista {
    font-size: 1.7em;
    font-weight: bold;
}

.botao-marca, .botao-condicao {
    height: 3.5vh;
    width: 5vw;
    background-color: #805cff;
    border-radius: 4px;
}

.botao-marca {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.8em;
}

.botao-condicao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formas-pgto {
    width: 130px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-evenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#payment-check {
    width: 130px;
    justify-content: flex-start;
}

.interesse {
    height: 6vh;
    width: 18.5vw;
    border: solid 0.5px #707070;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    flex-direction: column;
    height: 100vh;
}

/* início da tela de adm*/

.adm-tbl th {
    border: 1px solid #A3A0A0;
    align-self: center;
}

.adm-tbl-img {
    width: 10vw
}

.adm-tbl a {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}

tr:nth-child(even) {
    background: #A3A0A0
}

.form-box {
    margin-top: 20px;
}

.botao-condicao img {
    width: 60%;
}

/* final da tela de adm*/

@media (max-width: 768px) {
    .box-log, .box-cad {
        width: 45vw;
    }
    .d-box h2 {
        font-size: 2.5em;
        margin-top: 0.7em;
    }
    header .logo img {
        width: 9em;
    }
}

.interesse p {
    margin-left: 1em;
    font-size: 1.3em;
    color: #525050;
}

#interesse-heart {
    font-size: 2em;
    color: red;
}

header {
    padding: 0 60px;
}

footer {
    padding: 0 60px;
}

/* Início da tela gerenciamento de produtos */

.tabela-produto {
    color: black;
    width: 100vw;
}

.interface-gerenciamento-prod {
    display: flex;
}

.gerenc-prod-menu {
    height: 8vh;
}

.nav-prod-cad {
    display: contents;
}

.uk-table {
    margin-top: 0;
}

.btn-cadastrar-produto {
    background-color: #fff;
    padding: 8px 25px;
    border-radius: 20px;
    border: 1px solid rgb(58, 58, 58);
}

.tabela-cadastro-prod {
    margin-top: 0;
}

.img-cad-produto {
    width: 11vw;
}

.tabela-cadastro-prod td {
    vertical-align: middle;
    padding: 0.5em 0.5em;
}

.uk-table-justify td:first-child, .uk-table-justify th:first-child {
    padding-left: 0.5em;
}

.uk-table-justify td:last-child, .uk-table-justify th:last-child {
    padding-right: 0.5em;
    text-align-last: justify;
}

/* Final da tela gerenciamento de produtos */

/* Inicio da tela de dúvidas */

.accordionWrapper {
    cursor: pointer;
    float: left;
    width: 80%;
    box-sizing: border-box;
    margin: 2% 10%;
}

.accordionItem {
    float: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
}

.accordionItemHeading {
    cursor: pointer;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    background: #8a8a8a;
    color: #fff;
    width: 100%;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 1.3em;
}

.close .accordionItemContent {
    height: 0px;
    transition: height 1s ease-out;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    float: left;
    display: block;
}

.open .accordionItemContent {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display: block;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
    transition: transform 0.4s ease;
    box-sizing: border-box;
    border-radius: 25px;
}

.duvida-h1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

/* Final da tela de dúvidas */

/* Inicio da tela de sobre nós*/

.sobre-nos-h1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 25px;
}

.sobre-nos-h2 {
    font-size: 1.3em;
    font-weight: 500;
    padding-left: 15px;
    text-align: justify;
    width: 50%;
}

.sobre-nos-secao {
    display: flex;
}

/* Final da tela de sobre nós*/

/* Inicio da tela de listar produtos */

.lista-produtos {
    flex-direction: column;
    width: 30em;
}

/* .uk-table td>:last-child{
    width: 15em;
    display: flex;
} */

.td-produto-lista {
    width: 15em;
}

.texto-img-lista {
    margin-top: 0;
    font-weight: 700;
    font-size: 1.5em;
}

.descricao-produto-lista {
    width: 40%;
}

.icones-lista-produto-box i {
    color: black;
    font-size: 3em;
}

.icones-lista-produto-box h3 {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}

/* Final da tela de listar produtos */

/* Inicio tela de interesses */

.img-interesse {
    border-radius: 200px;
    height: 50px;
    width: 50px;
    margin-top: 0.6em;
}

.icones-lista-img {
    width: 100%;
    height: 100%;
}

.email-interesse {
    font-size: 1.5em;
    color: #000;
}

.data-interesse {
    font-size: 1.5em;
    color: #000;
}

.img-interesse-borda {
    border: 2px solid var(--yellow);
    height: 52px;
    width: 52px;
}

.filters-produto {
    flex-direction: column;
    align-items: flex-start;
}

.img-box-produto {
    padding: 0 60px;
}

/* Final tela de interesses */

/* Inicio tela de Controle Usuário */

.lista-usuario-aprovado {
    width: 100%;
}
.posicao-fixa-controle{
    display: flex;
    position: inherit;
}
.nav-controle-usuario{
    display: flex;
    justify-content: flex-start;
}

/* Final tela de Controle Usuário */

/* Inicio do código para tablet */

/* Codigo para header */

@media (max-width: 768px) {
    header .logo img {
        width: 11em;
    }
    /* Codigo para pg home */
    .home img {
        width: 18em;
    }
    .text-home-eol {
        width: 16em;
    }
    .text-home-eol h1 {
        font-size: 1.3em;
    }
    .text-home-eol p {
        font-size: 0.9em;
    }
    .btn-entrar {
        margin-top: 1.50em;
        padding: 0.3em 1.5em;
        font-size: 1em;
        border-radius: 200px;
        color: white;
    }
    /* media-query tablet de produto */
    .header-produto {
        height: 0.3em;
    }
    .nav-produto {
        height: 100.7vh;
    }
    .botao-preco {
        width: 24vw;
    }
    .descricao-produto {
        font-size: 0.8em;
        width: 40vw;
        height: 25vh;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        text-align: justify;
    }
    .interesse {
        height: 10vh;
        width: 23.5vw;
        display: flex;
        justify-content: center;
    }
    .fa-heart {
        padding-left: 0.5em;
    }
    .a-vista, .marca, .condicao, .formas-pgto, .interesse {
        font-size: 0.8em;
    }
    .botao-condicao, .botao-marca {
        width: 8vw;
    }
    .botao-condicao img {
        width: 4.5vw;
        margin-bottom: 1em;
    }
    /* final do media query tablet - produto */
    footer .footer-icons {
        padding-right: 15px;
    }
    header {
        padding: 0 3px;
    }
    footer {
        padding: 0 30px;
    }
    .botao-condicao img {
        margin-top: 5px;
    }
    .sup {
        flex-direction: column;
    }
    .sup .infos-box {
        width: 100%;
    }
    .filters-produto {
        flex-direction: row;
    }
    .img-box-produto {
        padding: 0 10px;
    }
    /*Inicio do media query tablet - Como Funciona*/
    .slideshow-container {
        max-width: 700px;
    }
    /*Final do media query tablet - Como Funciona*/
    /*Inicio do media query tablet - Dúvidas*/
    .accordionWrapper {
        cursor: pointer;
        float: left;
        width: 90%;
        box-sizing: border-box;
        margin: 2% 5%;
    }
    /*Final do media query tablet - Dúvidas*/
    /*Inicio do media query tablet - Sobre Nós*/
    .sobre-nos-h2 {
        width: 95%;
        padding-bottom: 25px;
    }
    .sobre-nos-secao {
        display: block;
    }
    .main-sobre-nos {
        height: 900px;
    }
    /*Final do media query tablet - Sobre Nós*/
    .app-page{
        height: 115vh !important;
    }
    .nome-produto-dell{
        font-size: 28px;
    }
    .product-box .bottom {
        padding: 10px 5px 0px 5px;
    }
    .product-box .bottom p{
        display: flex;
        text-align: center;
    }
    .fa-heart:before {
        content: "\f004";
        height: 100px;
        font-size: 40px;
        color: #EC2114;
    }
}

/* Inicio do código para mobile */

@media (max-width: 376px) {
    .main-home-eol {
        height: 89vh;
    }
    .home img {
        width: 7em;
    }
    .text p {
        font-size: 0.75em;
    }
    /* Inicio do media query mobile - produtos */
    .main-produto {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .main-produto h1 {
        margin: 0 1.5em 1.4em 1.5em;
        font-size: 1.3em;
        text-align: center;
    }
    .img-produto {
        flex-direction: column;
        margin-bottom: 0;
        align-items: center;
        margin-top: 5em;
        width: 100%;
    }
    .img-small {
        padding: 0;
        flex-direction: row;
        justify-content: center;
    }
    .ponto-img {
        display: flex;
        margin: 0;
    }
    .descricao-produto {
        width: 70vw;
    }
    .bar-side {
        width: 0;
        height: 0;
    }
    .botao-preco {
        width: 38vw;
        height: 7vh;
    }
    .botao-preco p {
        font-size: 0.8em;
    }
    .side-right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .marca-mobile {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .marca-mobile .condicao {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .botao-marca {
        width: 5em;
    }
    .botao-condicao {
        width: 4em;
    }
    .botao-condicao img {
        margin-top: 10px;
    }
    .botao-condicao img {
        width: 2em;
    }
    .interesse {
        width: 30vh;
    }
    .interesse p {
        font-size: 0.8em;
        /* padding: 0 0; */
    }
    .a-vista {
        display: flex;
        flex-direction: row;
    }
    .vista {
        font-size: 1em;
    }
    .nav-produto {
        background-color: white;
    }
    .img-principal img {
        height: 42vh;
    }
    .img-small img {
        height: 15vh;
    }
    /* Final do código para pg produtos */
    main {
        height: 85vh;
    }
    header {
        margin-left: 10px;
    }
    header .logo img {
        width: 6em;
    }
    .footer-links a {
        display: none;
    }
    .box-log, .box-cad {
        width: 85vw;
    }
    .home img {
        width: 12em;
    }
    .div-hr {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .btn {
        align-content: center;
    }
    footer .footer-icons {
        padding: 15px;
        font-size: 1.30em;
    }
    footer img {
        height: 6vh;
    }
    .text {
        width: 100%;
    }
    .text h1 {
        font-size: 1em;
        text-align: center;
    }
    .text p {
        font-size: 0.7em;
        text-align: justify;
    }
    .home .entrar {
        width: 80vw;
    }
    .home {
        flex-direction: column;
    }
    header {
        flex-direction: column;
        height: 90px;
        margin-left: 0;
    }
    header nav a {
        margin: 0 5px;
    }
    header nav #btn-cadastro-cabecalho {
        padding: 8px 15px;
    }
    .side-left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*Inicio do media query mobile - Como funciona*/
    main {
        height: 76vh;
    }
    .mySlides {
        padding-top: 50px;
    }
    .comoFuncionaTituloH2 {
        text-align: justify;
        text-align-last: center;
        margin: 0 6px 0 6px;
    }
    /*Final do media query mobile - Como funciona*/
    /*Inicio do media query mobile - Dúvidas*/
    .accordionWrapper {
        cursor: pointer;
        float: left;
        width: 90%;
        box-sizing: border-box;
        margin: 2% 5%;
    }
    /*Final do media query mobile - Dúvidas*/
    /*Inicio do media query mobile - sobre nós*/
    .img-sobre-nos {
        height: 215px;
        margin: 0 0 25px 6px;
    }
    .main-sobre-nos {
        height: 1030px;
    }
    .app-page .main {
        height: 100% !important;
    }
    /*Final do media query mobile - sobre nós*/

    /*Final do media query mobile*/
}

.payment-check {
    justify-content: flex-start;
}

#app-page-produto {
    width: 100%;
}

/* body {
    display: flex;
    height: 100vh; 
}

.web-app {
    display: flex; 
}

header h1 {
    font-weight: bolder; 
} */

.web-app {
    flex-direction: column;
}

.mobile-nav {
    height: 80px;
}

.mobile-nav .profile {
    width: 50px;
    border-radius: 200px;
}

.main {
    justify-content: flex-start;
    height: 80%;
}

.main header {
    margin-top: 30px;
    width: 100%;
}

.main .search {
    margin-top: 20px;
}

.main .search-box {
    position: relative;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 200px;
    padding-left: 10px;
    height: 40px;
}

.main .search-box input {
    border: none;
    height: 55%;
    font-weight: 300;
    width: 90%;
}

.main .search-box i {
    font-size: 1.3rem;
    margin-right: 10px;
}

.main .search-box ::placeholder {
    font-weight: bolder;
    padding-top: 10px;
    color: black;
    font-size: 1.2rem;
}

.sort-products {
    width: 100%;
}

.sort-box button {
    height: 100%;
    margin-top: 10px;
    letter-spacing: 0.6px;
    font-weight: bolder;
    width: 130px;
    height: 45px;
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

.sort-box button:hover {
    background-color: rgb(226, 226, 226);
}

.sort-box .left {
    border-radius: 20px 0px 0px 20px;
    padding-left: 8px 0px 0px 5px;
    border-right: 1px solid rgba(168, 168, 168, 0.459);
}

.sort-box .middle {
    width: 70px;
}

.sort-box .right {
    border-radius: 0px 20px 20px 0px;
    padding-right: 0px 10px 0px 5px;
    border-left: 1px solid rgba(168, 168, 168, 0.459);
}

.filter-row {
    width: 100%;
    margin-top: 20px;
}

.filter-row button {
    margin: 0 10px;
    font-size: 1.3rem;
    font-weight: bolder;
    height: 45px;
    width: 120px;
    background-color: transparent;
    border: 1px solid rgba(160, 160, 160, 0.363);
    border-radius: 8px;
}

.filter-row i {
    margin: 5px;
}

.filter-row button:hover {
    background-color: var(--purple);
    border: none;
    color: white;
}

section.products-section {
    flex-wrap: wrap;
    flex-direction: row !important;
    overflow: auto;
}

.app-page {
    height: 100vh;
}

.app-page .main {
    height: 87%;
}

/* .products-section {
    margin-top: 10px;
} */

.box-margin {
    margin-left: 10px;
}
.top-icones-nav{
    text-align: center;
}
/* .top-logo-nav{
    
} */
.alinha-tabela-produto{    
    width: 50vw;
    padding: 10px;
}
    
    @media (min-width: 765px) {
    .wrap {
        max-width: 698px;
    }
    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .container .search-box {
        margin: 0;
        width: 250px;
    }
    .modal-filter {
        width: 47%;
    }
    .modal-filter .box-margin {
        /* height: 3.8vh; */
        margin: 10px 0 0 11%
    }
    .slide .price-ranges {
        width: 80%;
    }
    .filter-row .container {
        justify-content: center;
    }
    .products-section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .products-section .product-box {
        width: 44%;
        margin: 20px 20px 20px 20px;
    }
    div.middle-filters {
        flex-direction: row !important;
        justify-content: space-between;
        width: 100%;
        margin: 20px;
    }
    .app-page-produto {
        display: block;
    }
}

@media(min-width: 1000px) {
    .wrap {
        max-width: 900px;
    }
    .adverts .container {
        padding: 0 20px;
        max-width: none;
    }
    #aside-mobile {
        display: flex;
        position: inherit;
    }
    .web-app {
        display: flex;
        flex-direction: row;
    }
    .mobile-nav {
        display: none;
    }
    .app-page .main {
        height: 100%;
    }
    .main .title h1 {
        font-size: 2.3rem;
    }
    .products-section .product-box {
        width: 28%;
        min-width: 28%;
        height: 350px;
    }
    .products-section .product-box .top {
        height: 60%;
    }
    .products-section .product-box .bottom {
        height: 40%;
    }
    aside {
        width: 70px;
    }
    aside .icons .icon-box {
        font-size: 1.5rem;
        margin: 0;
    }
    /* aside .icons {
        font-size: 1.5rem;
    } */
    aside .logo img {
        display: block;
        width: 80%;
    }
    aside .logo i {
        display: none;
    }
    aside .bottom {
        width: 70px;
    }
    aside .bottom img {
        display: none;
    }
    aside .bottom .profile {
        display: flex;
        border-radius: 200px;
        height: 62px;
        width: 62px;
    }
    .bottom .profile .img-profile {
        /* background-image: url('../imgs/profile-square.png'); */
        height: 45px;
        width: 45px;
        border-radius: 200px;
    }
    .modal-filter .box-margin {
        margin: 0;
    }
    .box-margin {
        margin: 0;
    }
}

.dark-modal {
    display: none;
}

.modal-filter {
    display: none;
}

.show {
    display: flex;
}

.app-header {
    height: auto;
    padding: 0;
}

.interesse {
    height: auto;
}

#header-perfil {
    width: auto;
}

#product-link {
    text-decoration: none;
    color: black;
}

.icon-box .fa-heart {
    padding: 0;
}

.icon-box i {
    color: black;
}

#app-page-produto {
    overflow: auto;
}

.main-produto {
    overflow: auto;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.main-produto .thumb-nav img {
    width: 70px;
}

.main-produto .infos-box {
    margin-top: 30px;
    flex-grow: 1;
}

.infos-box .handle {
    width: 100%;
}

.main-produto .infos-box h2 {
    text-align: center;
    font-weight: bolder;
    margin: 0;
}

.infos-box .filters, .infos-box h3 {
    font-weight: bolder;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 5px;
}

.infos-box .filters {
    margin-top: 20px;
    padding: 0 30px;
}

.infos-box img {
    width: 50px;
}

.infos-box .filter {
    margin-bottom: 20px;
}

.infos-box .show-box {
    width: 120px;
    color: white;
    border-radius: 5px;
    font-weight: 100;
    height: 40px;
    background-color: #805CFF;
}

.infos-box .payment {
    padding: 0 30px;
}

.infos-box .payment #form-stacked-select {
    width: 100%;
}

.main-produto .interest-box {
    margin-top: 30px;
}

.main-produto .sup {
    width: 100%;
}

.main-produto .interest {
    border-radius: 4px;
    font-weight: 600;
    padding: 8px 10px;
    width: 60%;
    
    background-color: var(--yellow);
}

.tecnical-infos {
    margin-top: 30px;
}

.tecnical-infos .description, .tecnical-infos .tecnical {
    padding: 0 30px;
}

.tecnical-infos h3 {
    font-weight: bolder;
}

.tecnical-infos table tr, .tech-table-create table tr {
    font-weight: bolder;
    font-size: 0.8rem;
}

.tecnical-infos table tr:nth-child(even), .tech-table-create table tr:nth-child(even) {
    background-color: rgb(212, 212, 212);
}

.sup .img-upload-box {
    padding: 0 30px;
    margin-top: 20px;
    flex-grow: 1;
}

.sup .img-upload-box h2 {
    font-weight: bolder;
}

.sup .img-upload-box .js-upload {
    flex-grow: 1;
}

#default-input {
    border: 1px solid #e5e5e5;
    border-radius: 0;
}

.select-product {
    margin: 9px 0;
}

.save-product {
    width: 100%;
}

.save-product .interest {
    height: 60px;
    max-width: 350px;
    font-size: 1.3em;
    margin-bottom: 30px;
}

.tech-create {
    width: 100%;
}

.tech-create .uk-textarea {
    height: 150px;
}

.tech-create .description {
    margin-bottom: 20px;
}

.tech-create .handle h3 {
    font-size: 1rem;
}

.tech-table-create td {
    vertical-align: middle;
}

.sup .titulo-lista-adm {
    padding: 0;
}

.lista-titulo a {
    font-weight: bolder;
    font-size: 2em;
}

.uk-tab>.uk-active>a {
    border-color: black;
}
produto-imagem-note{
    width: 90%;
}
    /* .fa-heart:before .flex-center{
        height: 100px;
        font-size: 20px;
        color: #EC2114;
    } */